// Mixins

@mixin rounded($top-left, $top-right, $bottom-right, $bottom-left) {
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;  
     -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
          border-radius: $top-left $top-right $bottom-right $bottom-left;
}

@mixin shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
     -moz-box-shadow: $x $y $blur $spread $color;
          box-shadow: $x $y $blur $spread $color;
}

@mixin transition($property, $duration) {
  -webkit-transition: $property $duration ease;
     -moz-transition: $property $duration ease;
       -o-transition: $property $duration ease;
          transition: $property $duration ease;
}

@mixin responsive($dimension) {
    @if $dimension == width {
        @media only screen and (min-width: $width-medium) {
            @content; 
        }
    }
    @else if $dimension == height {
        @media only screen and (min-height: $width-height) {
            @content; 
        }
    }
    @else if $dimension == width-or-height {
        @media only screen and (min-height: $width-height), only screen and (min-width: $width-medium) {
            @content; 
        }
    }
    @else if $dimension == width-and-height {
        @media only screen and (min-height: $width-height) and (min-width: $width-medium) {
            @content;
        }
    }
}