// Mixins

@mixin rounded($top-left, $top-right, $bottom-right, $bottom-left) {
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;  
     -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
          border-radius: $top-left $top-right $bottom-right $bottom-left;
}

@mixin shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
     -moz-box-shadow: $x $y $blur $spread $color;
          box-shadow: $x $y $blur $spread $color;
}

@mixin transition($property, $duration) {
  -webkit-transition: $property $duration ease;
     -moz-transition: $property $duration ease;
       -o-transition: $property $duration ease;
          transition: $property $duration ease;
}

@mixin transform-scale-3d($x, $y, $z) {
    -webkit-transform: scale3d($x, $y, $z);
        -ms-transform: scale3d($x, $y, $z);
            transform: scale3d($x, $y, $z);
}

@mixin linear-gradient($from, $to) {
    background: $from;
    background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $from 0%, $to 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $from 0%, $to 100%); /* IE10+ */
    background: linear-gradient(to bottom, $from 0%, $to 100%); /* W3C */
}

@mixin responsive($dimension) {
    @if $dimension == width {
        @media only screen and (min-width: $wrapper-width) {
            @content; 
        }
    }
    @else if $dimension == height {
        @media only screen and (min-height: $wrapper-height) {
            @content;
        }
    }
    @else if $dimension == width-or-height {
        @media only screen and (min-height: $wrapper-height), only screen and (min-width: $wrapper-width) {
            @content; 
        }
    }
    @else if $dimension == width-and-height {
        @media only screen and (min-height: $wrapper-height) and (min-width: $wrapper-width) {
            @content;
        }
    }
}