// Import other files

@import 'reset';
@import 'variables';
@import 'css3-mixins';
@import 'font-awesome.min';

// General

html {
    height: 100%;
}

body {
    font: 300 100% $font;
    color: $color-main;
    text-align: center;
    line-height: 1.75em; /* 28px / 16px */
}

#{$a-tags} {
    color: $color-link;
    font-weight: 400;
    text-decoration: none;
}

p {
    padding-bottom: 25px;
    
    #{$a-tags} {
        border-bottom: 1px solid $color-border;
        @include transition(border-bottom, 0.5s);
    }

    #{$a-tags-hover} {
        border-bottom-color: $color-link;
    }
    
    @include responsive(medium-screens) {
        padding: 0 40px 54px 40px;
    }
}

// Particles
#particles-js {
    @include responsive(medium-screens) {
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: $color-bg;
        z-index: -10;
    }
}

// Wrapper

#wrapper {
    @include responsive(medium-screens) {
        box-sizing: border-box;
        width: 412px;
        height: 488px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -219.5px 0 0 -206px; /* 439 / 2 & 412 / 2 (height card & width card) */
    }
}

// Card

#card {
    margin: 60px 20px 31px 20px;
    
    @include responsive(medium-screens) {
        margin: 0;
        background-color: #fff;
        border: 1px solid $color-border;
        @include rounded(5px, 5px, 5px, 5px);
    }
}

// Header

header {
    @include responsive(medium-screens) {
        padding-top: 60px;
    }
}

#avatar {
    width: 100px;
    height: 100px;
    @include rounded(50%, 50%, 50%, 50%);
    @include shadow(0px, 0px, 1px, 0px, $color-shadow);
}

h1 {
    font-size: 1.75em; /* 28px / 16px */
    letter-spacing: 1px;
    padding: 15px 0 25px 0;
    
    #{$a-tags} {
        color: $color-main;
    }
}

// Social

ul.social {
    width: 100%;
    font-size: 1.125em; /* 18px / 16px */
    
    @include responsive(medium-screens) {
        border-top: 1px solid $color-border;
        
        li.social-first a {
            @include rounded(0, 0, 0, 5px);
        }

        li.social-last a {
            @include rounded(0, 0, 5px, 0);
        }
    }
    
    li {
        display: inline-block;
        width: 20%;
        
        a {
            display: inline-block;
            height: 50px;
            width: 100%;
            line-height: 50px;
            
            @include responsive(medium-screens) {
                height: 62px;
                line-height: 62px;
            }
        }
        
        #{$a-tags-hover} {
            color: #fff;
            background-color: $color-link;
        }
    }
}

footer {
    
    border-top: 1px solid $color-border;
    
    p {
        
        padding: 25px 20px 54px;
        font-size: 0.875em; /* 14px / 16px */
    }
    
    @include responsive(medium-screens) {
        border-top: 0;
        
        p {
            padding: 20px 40px 0 40px;
        }
    }
}