// Import other files

@import 'reset';
@import 'variables';
@import 'css3-mixins';
@import 'font-awesome.min';

// General

html {
    height: 100%;
}

body {
    font: 300 100% $font;
    color: $color-main;
    text-align: center;
    line-height: 1.6875em; /* 27px / 16px */
}

// Links

a:link, a:active, a:focus, a:visited {
    color: $color-link;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid $color-border;
    @include transition(border-bottom);
}

a:hover {
    border-bottom-color: $color-link;
}