// Variables

// Font-family
$font: 'Lato', Helvetica, Arial, sans-serif;

// Colors
$color-main: #181810;
$color-link: #39cccc;
$color-border: #f0f0f0;
$color-shadow: #aaa;
$color-bg: #fafafa;
/*$color-bg-2: #254073;*/

// Link tags
$a-tags: 'a, a:link, a:visited, a:focus';
$a-tags-hover: 'a:hover, a:active';

// Media queries
$width-medium: 410px;
