// Variables

// Font-family
$font: 'Lato', Helvetica, Arial, sans-serif;

// Colors
$color-main: #181810;
$color-link: #39cccc;
$color-border: #eee;
$color-shadow: #aaa;
$color-bg: #f5f5f5;

// Link tags
$a-tags: 'a, a:link, a:visited, a:focus';
$a-tags-hover: 'a:hover, a:active';

// Dimensions
$wrapper-width: 375px;
$wrapper-height: 507px;
$card-height: 439px;

