// Variables

// Font-family
$font: 'Lato', Helvetica, Arial, sans-serif;

// Colors
$color-main: #050914;
$color-link: #39cccc;
$color-border: #eee;
$color-shadow: #aaa;
$color-card-shadow: #7581A2;
$color-bg-top: #192d64;
$color-bg-bottom: #3b5d92;
$color-bg-text: #9daec8;

// Link tags
$a-tags: 'a, a:link, a:visited, a:focus';
$a-tags-hover: 'a:hover, a:active';

// Dimensions
$wrapper-width: 375px;
$wrapper-height: 507px;
$card-height: 437px;

